.sideDrawer{
    height: 40%;
    background: #4397d0;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1000px;
    z-index: 200;
    transform:  translateX(-100%);
    transition: transform 0.3s ease-out;
}
.sideDrawer.open{
    transform:  translateX(0);
}

.sideDrawer ul{
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.sideDrawer li{
    margin: 0.5rem 0;
}

.sideDrawer a{
    columns: red;
    text-decoration: none;
    font-size: 1.2rem;
}
.sideDrawer a:hover,
.sideDrawer a:active
{
    color: orange;

} 

@media (min-width: 769px){
    .sideDrawer{
        display: none;
    }
}